header {
  padding: 5px;
}

.main {
  margin-bottom: 1rem;
  padding: 5px;
}

.containerInput {
  display: flex;

  align-items: center;
  height: 3rem;
  width: 19.5rem;
  margin-bottom: 1rem;
}

#buttonTask {
  height: 31px;
}

input {
  height: 25px;
  flex: 1;
  margin-right: 0.5rem;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

.taskItem {
  height: 20px;
  width: 300px;
  margin: 5px 0;
  display: flex;
  justify-content: space-between;

  border: black 1px solid;
  padding: 6px;
}

.taskItem button {
  margin-right: 1rem;
}